html {
	height:100%;
}
body {
	background-image:url('low_contrast_linen.png');
	background-repeat: repeat;
	margin: 0;
	font-size:12px;
	width:100%;
	height:100%;
	font-family: 'Helvetica Neue', 'Helvetica', 'Arial', sans-serif;
}

header {
	background-color:#495e6b;
	height:20%;
	padding:10px;
	color:#FFF;
	font-size:20px;
	font-family: 'Wallpoet';
	/* font-family:'Londrina Outline'; */
	/* font-family:'Bangers'; */
	/* font-family:'Audiowide'; */

}

header h1 {
	font-size:48px;
	line-height:30px;
	margin-bottom:0px;
}

iframe {
	position:relative;
	width:1000px;
	height:1000px;
	top:-240px;
	left:-30px;
}

a.button {
	padding: 10px 20px;
	background-color:#EEE;
	color:#666;
	font-weight:bold;
	text-decoration:none;
	border-radius:4px;
	margin:5px 3px;
}

.window {
	width: 400px; 
	height: 400px; 
	overflow: hidden;
}

.userwindow {
	width:320px;
	height:420px;
	overflow:scroll;
}

#wrapper {
	position:absolute;
	margin:3%;
	width: 90%;
	background-color:#FFF;
	box-shadow: 10px 10px 5px #000;
	border:10px solid #FFF;
}

#sidebar {
	width:25%;
	position:absolute;
	top:31px;
	right:0px;
	z-index:4;
	background-color:#ECF1EF;
}

#sidebar-header {
	background-color:#495e6b;
	width:90%;
	height:21px;
	color:#FFF;
	padding:5%;
}

#sidebar-header h1 {
	line-height:0;
	float:right;
	margin-right:70px;
}

#filter-content {
	padding:0px 15px 30px 15px;
	background-color: #ECF1EF;
	color:#666;	
}

#hide-sidebar {
	position:absolute;
	right:10px;
	top:15px;
	cursor:pointer;
}

#map-canvas {
	width:100%;
	margin: 0 auto;
	height:1000px;
	border:5% solid #FFF;
}

#hide-icon {
	margin-top:50%;
}


#legend {
background-color: #FFF;
margin: 10px;
padding: 5px;
width: 150px;
}

#legend p {
font-weight: bold;
margin-top: 3px;
}

#legend div {
clear: both;
}

#filedrag  
{  
    font-weight: bold;  
    text-align: center;  
    padding: 1em 0;  
    margin: 1em 0;  
    color: #555;  
    border: 2px dashed #555;  
    border-radius: 7px;  
    cursor: default;  
} 

#filedrag.hover  
{  
    color: #f00;  
    border-color: #f00;  
    border-style: solid;  
    box-shadow: inset 0 3px 4px #888;  
}

#uploadForm {
	padding:30px;
}  

#submitMessage {
	display:none;
}

.color {
height: 12px;
width: 12px;
margin-right: 3px;
float: left;
display: block;
}


